# Dipendenze
backend/node_modules/
__pycache__/
venv/
/backend/env/
/backend/.env

# File di sistema operativo
.DS_Store
Thumbs.db

# Log e file temporanei
*.log
/tmp/

# Cartelle specifiche IDE
.vscode/
.idea/
.obsidian/

#Svilippo
.claude/
CLAUDE.md
docs/
# File di lavoro (non fanno parte del progetto)
data/_*
scripts/_*
notebooks/_*
